/*Jason McDowell
    CWB1010
    06/25/2023
*/

body {
    background-color:lavender;
}

#wrapper {
    margin: 0 auto;
    width: 95%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

nav {
    font-weight: bold;
    letter-spacing: 0.05em;
    background-color:azure;
    font-size: 1.25em;
    text-align: center;
    padding: 5px;
    top: 0;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: thin solid #b200ff;
        border-bottom: thin solid #b200ff;
        border-left: thin solid #b200ff;
        border-right: thin solid #b200ff;
    }

    nav li {
        border-bottom: 1px solid #132D46;
        padding-top: .5em;
        padding-bottom: .5em;

    }

    nav a {
        text-decoration: none;
        color: #191E29;
        margin: 0px;
        padding: 0px 20px 0px 20px;
    }

        nav a:link {
            color:cornflowerblue;
        }

        nav a:visited {
            color:blueviolet;
        }

        nav a:hover {
            color:black;
        }

main {
    display: block;
    background-color:lavender;
    padding: 25px;
}

main, header, footer {
    background-color:;
}


footer {
    text-align: center;
    clear: both;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
    border: double;
}
ul li {
    text-align: center;
}

h1, h2, h3, h4 {
    font: bold 36px New Times Roman;
    text-align: center;
    border-top: thin solid #b200ff;
    border-bottom: thin solid #b200ff;
    border-left: thin solid #b200ff;
    border-right: thin solid #b200ff;
    position: center;
    z-index:-10;
    background-color: azure;
    color: blueviolet;
}

a {
    position: relative;
    z-index: 0;
}
img {
    padding: 3em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
iframe{
    position:center;
}
header, nav, main, footer, aside {
    display: block;
}

@media (min-width: 600px) {
    nav {
        position: sticky;
    }

        nav li {
            display: inline-block;
            border: none;
        }

        nav ul {
            text-align: center;
        }

    #video-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container {
        color: black;
        background-color: azure;
    }
}
img.demo {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(20px 20px 20px blueviolet);
}
      
  
  
